body {
    display: flex;
    justify-content: center;
    align-items: center;
}

slide-track {
    display: flex;
    background-color: hsl(0, 0%, 0%);
    height: 50vh;
    width: 50vw;
    overflow: auto;
    
}

slide {
    height: 100%;
    width: 100%;
    flex-shrink: 0;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

pagination  {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 10px;
}

pagination button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #999;
}